{
    "env": {
        "browser": true,
        "node": false
    },
    "parserOptions": { "ecmaVersion": 12 },
    "extends": ["strict", "jquery"],
    "globals": {
        "$": false,
        "allowedSoftwares": false,
        "cmdLine_": false,
        "document": false,
        "dweet": false,
        "glitchImage": false,
        "hackRevealText": false,
        "kernel": false,
        "localStorage": false,
        "logged": true,
        "mailList": true,
        "output_": false,
        "output": false,
        "p5": false,
        "particleImage": false,
        "requestAnimationFrame": false,
        "software": false,
        "softwareInfo": true,
        "serverDatabase": true,
        "setHeader": false,
        "system": true,
        "term": true,
        "userDatabase": true,
        "userList": true,
        "window": false,
        "C": true,
        "R": true,
        "S": true,
        "T": true,
        "AddressIsEmptyError": false,
        "AddressNotFoundError": false,
        "AlreadyOnServerError": false,
        "CommandNotFoundError": false,
        "InvalidCommandParameter": false,
        "InvalidCredsSyntaxError": false,
        "InvalidMessageKeyError": false,
        "InvalidPasswordError": false,
        "JsonFetchParseError": false,
        "MailServerIsEmptyError": false,
        "ServerRequireUsernameError": false,
        "UnknownUserError": false,
        "UsernameIsEmptyError": false
    },
    "rules": {
        "array-element-newline": ["error", "consistent"],
        "complexity": 0,
        "id-blacklist": 0,
        "id-match": 0,
        "id-length": 0,
        "indent": ["error", 4],
        "init-declarations": 0,
        "lines-around-comment": 0,
        "line-comment-position": 0,
        "max-len": 0,
        "new-cap": 0,
        "no-bitwise": 0,
        "no-console": 0,
        "no-inline-comments": 0,
        "no-invalid-this": 0,
        "no-magic-numbers": 0,
        "no-mixed-operators": 0,
        "no-new": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "no-warning-comments": 0,
        "prefer-destructuring": 0
    }
}
